@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "League Spartan", sans-serif;
  background-color: #070724;
  background-image: url("./assets/background-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
